@model IEnumerable<SistemaDeControleDeTCCs.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}

<h1>@ViewData["Title"]</h1>
<a class="btnAdd btn btn-outline-success" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i>Novo</a>
<p></p>

<table id="tabela" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Nome Completo
            </th>
            <th>
                Matrícula
            </th>
            <th>
                CPF
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario.DescTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" data-url="AddOrEdit" data-toggle="modal" data-target="#exampleModal" asp-action="" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar novo usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="conteudoModal">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnAdd").click(function () {
            console.log('aqui');
            var id = $(this).data("value");
            $("#conteudoModal").load("/Identity/Account/Register/" + id,
                function () {
                    $('#exampleModal').modal("show");
                });
        })
    })
</script>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrados de _MAX_ registros)"
                }
            });
        });
    </script>
}




