@model IEnumerable<SistemaDeControleDeTCCs.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuários</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nome Completo
            </th>
            <th>
                Matrícula
            </th>
            <th>
                CPF
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                <a class="btn btn-outline-success" id="register" asp-area="Identity" asp-page="/Account/Register"><i class="far fa-plus-square"></i>Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" ml-1 onclick="return confirm('Tem certeza que quer deletasr este registro?')"><i class="fa fa-trash-alt fa-lg"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
