@model SistemaDeControleDeTCCs.Models.ViewModels.TccViewModel

@{
    ViewData["Title"] = "TCCs Publicados";
}
<partial name="_HeaderPartial" />

<h1>@ViewData["Title"]</h1>

<table id="tabelaTccPulicados" class="table table-bordered table-hover display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Tema
            </th>
            <th>
                Discente
            </th>
            <th>
                Orientador
            </th>
            <th>
                Apresentação
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tccs)
        {
            //condição para o tcc aprovado e reprovado, logo irá mostrar na guia do tcc finalizado
            if (item.StatusId == 1 || item.StatusId == 6)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tema)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nome) @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                    </td>
                    @foreach (var b in Model.Banca.Where(x => x.TipoUsuario.DescTipo.ToLower().Equals("orientador") && x.TccId == item.TccId))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => b.Usuario.Nome) @Html.DisplayFor(modelItem => b.Usuario.Sobrenome)
                        </td>
                    }
                    <td>
                        @if (item.DataFinalizacao != null)
                        {
                            string dtFinalizacao = item.DataFinalizacao.Value.Date.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtFinalizacao)
                        }
                        else
                        {
                            <p>Sem data</p>
                        }
                    </td>
                    <td class="columnAcao">
                        <a class="btn btn-outline-secondary btn-sm" asp-action="Resumo" asp-route-id="@item.TccId"><i class="fa fa-align-justify" aria-hidden="true"> Resumo</i></a> | 
                        <a title="Anexos" class="btn btn-outline-primary btn-sm" asp-action="Anexo" asp-route-id="@item.TccId"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

@section scripts{
    <!----><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabelaTccPulicados').DataTable({
                responsive: true,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "sSearch": "Buscar: ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                }
            });
        });
    </script>
}