@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />

    @RenderSection("Head", required: false)
    @RenderSection("Styles", required: false)

    <script src="~/js/jquery-3.5.1.min.js"></script>

    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            outline: none;
        }

        body {
            margin: 0;
        }

        a {
            text-decoration: none;
        }

        .main {
            height: 90vh;
        }
    </style>
</head>
<body>
    <main role="main" id="main" class="pb-3 main" style="padding: 10px 80px 20px 80px;">
        @RenderBody()
    </main>
    <script src="https://kit.fontawesome.com/832f1d49a9.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                responsive: true,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "sSearch": "Buscar: ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                }
            });
        });
    </script>
</body>
</html>
