@model IEnumerable<SistemaDeControleDeTCCs.Models.Curso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="tabela" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                Código MEC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordenador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodEmec)
                </td>
                <td>
                    @if (item.Coordenador == null)
                    {
                        <span>Não Definido</span>
                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => item.Coordenador.Nome)</span>
                    }
                        
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campus.Endereco)
                </td>
                <td>
                    <a title="Editar" class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a> |
                    <a title="Detalhes" class="btn btn-outline-secondary btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info fa-fw" aria-hidden="true"></i></a> |
                    <a title="Excluir" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrados de _MAX_ registros)"
                }
            });
        });
    </script>
}