@model SistemaDeControleDeTCCs.Models.Calendario

@{
    ViewData["Title"] = "Deletar";
}

<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>

<h2>@ViewData["Title"]</h2>

<h5>Tem certeza de que deseja deletar?</h5>
<div>
    <h6>Calendário de Banca</h6>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-4">
            <b>@Html.DisplayNameFor(model => model.Ano)</b> <br />
            <p>@Html.DisplayFor(model => model.Ano)</p>
        </div>
        <div class="form-group col-md-8">
            <b>@Html.DisplayNameFor(model => model.Semestre)</b> <br />
            <p>@Html.DisplayFor(model => model.Semestre)</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <b>@Html.DisplayNameFor(model => model.DataInicio)</b> <br />
            <p>@Html.DisplayFor(model => model.DataInicio)</p>
        </div>
        <div class="form-group col-md-8">
            <b>@Html.DisplayNameFor(model => model.DataFim)</b> <br />
            <p>@Html.DisplayFor(model => model.DataFim)</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <b>@Html.DisplayNameFor(model => model.Ativo)</b> <br />
            <p>@Html.DisplayFor(model => model.Ativo)</p>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CalendarioId" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a href="#" data-dismiss="modal">Cancelar</a>
    </form>
</div>
