@model IEnumerable<SistemaDeControleDeTCCs.Models.Calendario>

@{
    ViewData["Title"] = "Calendários de Bancas";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnDelete").click(function () {
            console.log('aqui');
            var id = $(this).data("value");
            $("#conteudoModal").load("/Coordenador/Calendarios/Delete/" + id,
                function () {
                    $('#exampleModal').modal("show");
                });
        })
    })
</script>

<h1>@ViewData["Title"]</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CalendarioId"><i class="fa fa-marker fa-lg"></i></a> |
                    <a href="#" data-value="@item.CalendarioId" class="btnDelete text-danger" ml-1><i class="fa fa-trash-alt fa-lg"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>