@model IEnumerable<SistemaDeControleDeTCCs.Models.Calendario>

@{
    ViewData["Title"] = "Calendários";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-outline-success btnAdd"><i class="fa fa-calendar" aria-hidden="true"></i> Novo</a>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<table id="tabelaCalendario" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semestre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a title="Editar" class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.CalendarioId"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a title="Excluir" href="#" data-value="@item.CalendarioId" class="btnDelete btn-outline-danger btn-sm"><i class="fa fa-trash-alt fa-lg"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal Funcionando-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnDelete").click(function () {
            console.log('aqui');
            var id = $(this).data("value");
            $("#conteudoModal").load("/Coordenador/Calendarios/Delete/" + id,
                function () {
                    $('#exampleModal').modal("show");
                });
        })
    })
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabelaCalendario').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrados de _MAX_ registros)"
                }
            });
        });
    </script>
}