@model SistemaDeControleDeTCCs.Models.ViewModels.TccViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Trabalhos de Conclusão de Curso - TCC's</h1>
<th>
    <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="fa fa-book" aria-hidden="true"></i> Novo</a>
</th>
<p></p>

<!--
    <form asp-action="Index" method="get">
    <div>
        <p>
            Tema:
            <input type="text" name="filterTema" value="@ViewData["filterTema"]" />
            Discente:
            <select asp-items="@ViewBag.Discente" id="filterDiscente" name="filterDiscente">
                <option value="">Selecione</option>
            </select>
            Status:
            <select asp-items="@ViewBag.Status" id="filterStatus" name="filterStatus">
                <option value="">Selecione</option>
            </select>
            Semestre:
            <select asp-items="@ViewBag.Semestre" id="filterSemestre" name="filterSemestre">
                <option value="">Selecione</option>
            </select>

            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
            <a asp-action="Index">Limpar filtros</a>
        </p>
    </div>
</form>
-->

<table id="tabelaTcc" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tema
            </th>
            <th>
                Discente
            </th>
            <th>
                Orientador
            </th>
            <th>
                Status
            </th>
            <th>
                Apresentação
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tccs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome) @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                </td>
                @foreach (var b in Model.Banca.Where(x => x.TipoUsuario.DescTipo.ToLower().Equals("orientador") && x.TccId == item.TccId))
                {
                    <td>
                        @Html.DisplayFor(modelItem => b.Usuario.Nome) @Html.DisplayFor(modelItem => b.Usuario.Sobrenome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status.DescStatus)
                </td>
                <td>
                    @if (item.DataApresentacao != null)
                    {
                        string dtApresentacao = item.DataApresentacao.Value.Date.ToString("dd/MM/yyyy");
                        @Html.DisplayFor(modelItem => dtApresentacao)
                    }
                    else
                    {
                        <p>Sem data</p>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-sm" asp-action="AddOrEdit" asp-route-id="@item.TccId"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.TccId" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')"> <i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

@section scripts{   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabelaTcc').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrados de _MAX_ registros)"
                }
            });
        });
    </script>
}