@model SistemaDeControleDeTCCs.Models.ViewModels.TccViewModel

@{
    ViewData["Title"] = "TCC";
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnCancelar").click(function () {
            var id = $(this).data("value");
            $("#conteudoModal").load("/Coordenador/Tccs/Cancelar/" + id,
                function () {
                    $('#exampleModal').modal("show");
                });
        })
    })
</script>

<h1>@ViewData["Title"]</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form asp-action="Index" method="get">
    <div>
        <p>
            Tema:
            <input type="text" name="filterTema" value="@ViewData["filterTema"]" />
            Discente:
            <select asp-items="@ViewBag.Discente" id="filterDiscente" name="filterDiscente">
                <option value="">Selecione</option>
            </select>
            Status:
            <select asp-items="@ViewBag.Status" id="filterStatus" name="filterStatus">
                <option value="">Selecione</option>
            </select>
            Semestre:
            <select asp-items="@ViewBag.Semestre" id="filterSemestre" name="filterSemestre">
                <option value="">Selecione</option>
            </select>

            <input type="submit" value="Pesquisar" class="btn btn-primary" /> |
            <a asp-action="Index">Limpar filtros</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Tema
            </th>
            <th>
                Discente
            </th>
            <th>
                Orientador
            </th>
            <th>
                Status
            </th>
            <th>
                Apresentação
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Novo</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tccs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome) @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                </td>
                @foreach (var b in Model.Banca.Where(x => x.TipoUsuario.DescTipo.ToLower().Equals("orientador") && x.TccId == item.TccId))
                {
                    <td>
                        @Html.DisplayFor(modelItem => b.Usuario.Nome) @Html.DisplayFor(modelItem => b.Usuario.Sobrenome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status.DescStatus)
                </td>
                <td>
                    @if (item.DataApresentacao != null)
                    {
                        string dtApresentacao = item.DataApresentacao.Value.Date.ToString("dd/MM/yyyy");
                        @Html.DisplayFor(modelItem => dtApresentacao)
                    }
                    else
                    {
                        <p>Sem data</p>
                    }
                </td>
                <td>
                    @if (item.StatusId == 3 || item.StatusId == 4 || item.StatusId == 5)
                    {
                        <a asp-action="AddOrEdit" asp-route-id="@item.TccId" title="Editar"><i class="fa fa-marker fa-lg"></i></a> <text>|</text>
                        <a href="#" data-value="@item.TccId" class="btnCancelar" ml-1><i class="fas fa-times-circle" style="color:red" title="Cancelar"></i></a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.TccId" title="Excluir" class="text-danger" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>