@model IEnumerable<SistemaDeControleDeTCCs.Models.Usuario>
<!--Modal para Editar-->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="EditarModal">

                </div>
            </div>
        </div>
    </div>
</div>
<!--Script para renderizar a janela de editar tcc-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".btnEditar").click(function () {
            var id = $(this).data("value");
            $("#EditarModal").load("/Coordenador/Usuarios/AddOrEdit/" + id,
                function () {
                    $('#modalEditar').modal("show");
                });
        })
    })
</script>

<table id="tabela" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tipo
            </th>
            <th>
                Nome
            </th>
            <th>
                CPF
            </th>
            <th>
                Matrícula
            </th>
            <th>
                Curso
            </th>
            <th>
                Telefone
            </th>
            <th>
                E-mail
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoUsuario.DescTipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="width:150px; text-align:center">
                    <a title="Editar" class="btn btn-outline-primary btn-sm btnEditar" asp-action="AddOrEdit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a title="Resetar senha" class="btn btn-outline-warning btn-sm" asp-action="Reset" asp-route-id="@item.UserName"><i class="fa fa-key" aria-hidden="true"></i></a> |
                    <a title="Excluir" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a onclick="showInPopup('@Url.Action("AddOrEdit","Usuarios", @item.Id, Context.Request.Scheme), Editar Usuário')" class="btn btn-outline-info"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>

                </td>
            </tr>
        }
    </tbody>
</table>
