@model SistemaDeControleDeTCCs.Models.Usuario

@{
    ViewData["Title"] = "Usuário";
}

@section Styles {
    <link rel="stylesheet" href="~/css/style-form-group.css" />
}

<partial name="_HeaderPartial" />

<div>
    <h3>Usuário: @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)</h3>
    <br />
    <dl class="row" id="fundo">
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoUsuario.DescTipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nome)
        </dd>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <a id="bteditar" class="btn btn-form" asp-action="AddOrEdit" asp-route-id="@Model.Id"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
    </div>
    <div class="form-group col-md-6">
        <a id="avoltar" class="btn btn-form" asp-action="Index"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
    </div>
</div>
