@model IEnumerable<SistemaDeControleDeTCCs.Models.FileTCC>

@{
    ViewData["Title"] = "Arquivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />

<h1>@ViewData["Title"]</h1>
<hr />
    <div class="col-md-4">
        <form asp-action="SaveFile" method="post" enctype="multipart/form-data">
            <input type="hidden" value="@ViewBag.TccId" name="TccId" id="TccId" />
            <div class="form-group">
                @if (User.IsInRole("Aluno"))
                {
                    <label>Arquivo(pdf)</label>
                    <input type="file" name="arquivos" id="arquivos" accept="application/pdf">
                }
            </div>
            <div class="form-row">
                @if (User.IsInRole("Aluno"))
                {
                    <input type="submit" value="Salvar" class="btn btn-outline-success" />
                }
            </div>
        </form>
    </div>
    <div>
        <table id="tabelaBancaAnexo" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Data/Hora Cadastro
                    </th>
                    <th>
                        Nome Arquivo
                    </th>
                    <th>
                        Ação
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td align="center">
                        <a title="Baixar" class="btn btn-outline-primary btn-sm" asp-action="Download" asp-controller="FileTCCs" asp-route-id="@item.Id"><i class="fa fa-download" aria-hidden="true"></i></a> |
                        <a title="Excluir" class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-controller="FileTCCs" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>          
                }
            </tbody>
        </table>  
        <div>
            <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-list" aria-hidden="true"></i> Voltar para a lista</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    @section scripts{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
        <script>
        $(document).ready(function () {
            $('#tabelaBancaAnexo').DataTable({
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrados de _MAX_ registros)"
                }
            });
        });
        </script>
    }
