@model SistemaDeControleDeTCCs.Models.ViewModels.BancaViewModel


@{
    ViewData["Title"] = "Banca";
}

<partial name="_HeaderPartial" />

<style>
    .popoup-info {
        position: relative;
        float: right;
        margin-right: 2em;
        margin-top: 10px;
        width: 280px;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    }
    .displya-none {
        display: none
    }
    .box-red{
        background-color: orangered;
    }
    .box-green {
        background-color: forestgreen;
    }
    .box-gray {
        background-color: lightgray;
    }

    .loader {
        float: left;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    #msg {
        height: 30px;
        align-content: center;
        margin-bottom: 10px;
    }

</style>


<div>
    <div>
        <h1 style="float: left;">Detalhes da Banca</h1>

    </div>
    <div style="clear: both;">
        <hr />
        <br />
    </div>
    <div class="popoup-info displya-none" id="message-info">
        <div class="loader displya-none "></div>
        <div id="msg"></div>
    </div>


    <dl class="row" style="clear: both;">

        <span style="display: none;" data-js="tcc-id">@Model.Membros[0].TccId</span>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].DataDeCadastro)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Membros[0].DataDeCadastro)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].Tcc.Tema)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Membros[0].Tcc.Tema)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].Tcc.Resumo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Membros[0].Tcc.Resumo)
        </dd>
        <dt class="col-sm-4">
            Aluno:
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Membros[0].Tcc.Usuario.Nome) @Html.DisplayFor(model => model.Membros[0].Tcc.Usuario.Sobrenome)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].Tcc.DataApresentacao)
        </dt>
        <dd class="col-sm-8">
            @if (Model.Membros[0].Tcc.DataApresentacao == null)
            {
                <p>A definir</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Membros[0].Tcc.DataApresentacao)
            }
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].Tcc.LocalApresentacao)
        </dt>
        <dd class="col-sm-8">
            @if (Model.Membros[0].Tcc.LocalApresentacao == null)
            {
                <p>A definir</p>
            }
            else
            {
                @Html.DisplayFor(model => model.Membros[0].Tcc.LocalApresentacao)
            }
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Membros[0].Nota)
        </dt>
        <dd class="col-sm-8" id="nota-tcc">
            @Html.DisplayFor(model => model.Membros[0].Tcc.Nota)
        </dd>

    </dl>
    <hr />
    <h4 class="col-sm-8">
        Membros da banca
    </h4>

    <form method="post">
        <table border="0" cellspacing="10" cellpadding="10">
            <thead>
                <tr>
                    <th>Membro</th>
                    <th>Função</th>
                    <th>Nota</th>
                    <th>Excluir Membro</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Membros)
                {
                    <tr>
                        <td style="display: none;" data-js="user">@item.UsuarioId</td>
                        <td> @item.Usuario.Nome @item.Usuario.Sobrenome</td>
                        <td> @item.TipoUsuario.DescTipo</td>
                        <td>
                            <input type="number" value="@item.Nota" class="form-control"
                                   data-js="nota-@item.UsuarioId"
                                   placeholder="Atribua a nota!" asp-for="@item.Nota" />
                        </td>
                        <td>
                            @if (!item.TipoUsuario.DescTipo.ToLower().Equals("orientador"))
                            {<a asp-action="Delete" asp-route-id="@item.BancaId" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer excluir este participante?')"> <i class="fa fa-trash" aria-hidden="true"></i> Excluir</a>}
                        </td>
                    </tr>
                }
            <tr>
                <td>
                    <button id="button" type="submit" class="btn btn-outline-success" asp-for="t">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar Notas
                    </button>
                    <a asp-action="Index" style="margin-left:1em;" class="btn btn-outline-secondary"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
    (function () {
        $("#nota-tcc").get()[0].textContent = parseFloat($("#nota-tcc").get()[0].textContent.replace(",", ".")).toFixed(2);

        var $info = $("#message-info").get()[0];
        var $loading = $("#message-info .loader").get()[0];
        var $msg = $("#message-info #msg").get()[0];


        function getNotasMembros() {
            var lis = []
            $("[data-js=user]").get().forEach(function (item) {
                var v = $("[data-js=nota-" + item.textContent + "]").get()[0].value;
                lis.push({
                    membroBanca: item.textContent,
                    nota: parseFloat(v)
                });
            });
            return lis;
        }
        function sendData(values) {
            if (values) {
                var idBanca = $("[data-js=tcc-id]").get()[0].textContent;
                $.ajax({
                    url: "/Bancas/Details/" + idBanca,
                    type: "POST",
                    data: JSON.stringify(values),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (retorno) {
                        idBanca = $("#nota-tcc")[0].textContent = retorno.notaTcc.toFixed(2);
                        console.log("OK");
                        $info.classList.remove("box-gray");
                        $info.classList.remove("box-red");
                        $info.classList.add("box-green");
                        $loading.classList.add("displya-none");
                        $msg.textContent = "Salvo com Sucesso ..."
                        setTimeout(function () {
                            $info.classList.add("displya-none");
                        }, 5000);
                    },
                    error: function (r) {
                        console.log("FAIL");
                        $info.classList.remove("box-gray");
                        $info.classList.remove("box-green");
                        $info.classList.add("box-red");
                        $loading.classList.add("displya-none");
                        $msg.textContent = "Falha ao salvar: " + r.responseText;
                        debugger;
                        setTimeout(function () {
                            $info.classList.add("displya-none");
                        }, 5000);
                    }
                });
            }

        }

        $("#button").click(function (e) {
            $info.classList.remove("displya-none");
            $info.classList.remove("box-red");
            $info.classList.remove("box-green");
            $info.classList.add("box-gray");
            $loading.classList.remove("displya-none");
            $msg.textContent = "Salvando ..."

            e.preventDefault()
            sendData(getNotasMembros());

        });

    })();
    

</script>
@*Fazer Requisição Via AJAX|*@