@model IEnumerable<SistemaDeControleDeTCCs.Models.Curso>

@{
    ViewData["Title"] = "Curso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_HeaderPartial" />

<h1>@ViewData["Title"]</h1>

<style>
    .btn-float {
        border: 1px solid green;
        position: fixed;
        bottom: 100px;
        right: 60px;
        padding: 20px;
        border-radius: 20px;
        background: white;
    }

    .btn-action {
        background: blue;
    }
</style>
<!--btn btn-outline-success btnAdd table-bordered-->
<a asp-action="Create" class="btn-float"><i class="fa fa-user-plus" aria-hidden="true" style="font-size: 20pt; color: green;"></i></a>

<table id="tabela" class="table table-hover display responsive nowrap" style="width:100%">
    <thead style="background: lightgreen;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                Código MEC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordenador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campus)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodEmec)
                </td>
                <td>
                    @if (item.Coordenador == null)
                    {
                        <span>Não Definido</span>
                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => item.Coordenador.Nome)</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campus.Endereco)
                </td>
                <td class="columnAcao">
                    <a title="Editar" class="btn btn-outline-primary btn-sm btn-action" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                    <a title="Informações" class="btn btn-outline-secondary btn-sm" style="padding-left: 0.8rem; padding-right: 0.7rem;" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></a> |
                    <a title="Excluir" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                responsive: true,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "sSearch": "Buscar: ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                }
            });
        });
    </script>
}