@model SistemaDeControleDeTCCs.Models.ViewModels.TccViewModel

@{
    ViewData["Title"] = "TCC";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/btn-float.css" />
    <link rel="stylesheet" href="~/css/style-table.css" />
}

<partial name="_HeaderPartial" />

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnCancelar").click(function () {
            var id = $(this).data("value");
            $("#conteudoModal").load("/Coordenador/Tccs/Cancelar/" + id,
                function () {
                    $('#exampleModal').modal("show");
                });
        })
    })
</script>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Success"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1>@ViewData["Title"]</h1>
<!-- class="btn btn-outline-success btnAdd"-->
<a asp-action="AddOrEdit" class="btn-float" ><i class="fa fa-book" aria-hidden="true"></i> Novo</a>

<table id="tabelaTcc" class="table table-bordered table-hover display responsive nowrap" style="width:100%">
    <thead>
        <tr>
            <th>
                Tema
            </th>
            <th>
                Discente
            </th>
            <th>
                Orientador
            </th>
            <th>
                Status
            </th>
            <th>
                Apresentação
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tccs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome) @Html.DisplayFor(modelItem => item.Usuario.Sobrenome)
                </td>
                @foreach (var b in Model.Banca.Where(x => x.TipoUsuario.DescTipo.ToLower().Equals("orientador") && x.TccId == item.TccId))
                {
                    <td>
                        @Html.DisplayFor(modelItem => b.Usuario.Nome) @Html.DisplayFor(modelItem => b.Usuario.Sobrenome)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Status.DescStatus)
                </td>
                <td>
                    @if (item.DataApresentacao != null)
                    {
                        string dtApresentacao = item.DataApresentacao.Value.Date.ToString("dd/MM/yyyy");
                        @Html.DisplayFor(modelItem => dtApresentacao)
                    }
                    else
                    {
                        <p>Sem data</p>
                    }
                </td>
                <td class="columnAcao">
                    @if (item.Status.DescStatus.Equals("Homologado Banca") || item.Status.DescStatus.Equals("Pré-Homologado") || item.Status.DescStatus.Equals("Cadastrado"))
                    {
                        <a class="btn btn-outline-primary btn-sm" asp-action="AddOrEdit" asp-route-id="@item.TccId" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a> <text>|</text>
                        <a asp-action="Cancelar" asp-route-id="@item.TccId" title="Cancelar" class="btn btn-outline-warning btn-sm" ml-1 onclick="return confirm('Tem certeza que quer cancelar este registro?')">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a> <text>|</text>
                        <a asp-action="Delete" asp-route-id="@item.TccId" title="Excluir" class="btn btn-outline-danger btn-sm" ml-1 onclick="return confirm('Tem certeza que quer deletar este registro?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="conteudoModal">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

@section scripts{
    <!---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" />
    <script>
        $(document).ready(function () {
            $('#tabelaTcc').DataTable({
                responsive: true,
                "language": {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Registro não localizado!",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "infoFiltered": "(Filtrados de _MAX_ registros)",
                    "sSearch": "Buscar: ",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    }
                }
            });
        });
    </script>
}