@model IEnumerable<SistemaDeControleDeTCCs.Models.Status>

@{
    ViewData["Title"] = "Status";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
