@model SistemaDeControleDeTCCs.Models.FileTCC

@{
    ViewData["Title"] = "Arquivo TCC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_HeaderPartial" />

<h1>Delete</h1>

<h3>Você quer deletar esse registro?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tcc.Tema)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" asp-controller="Bancas" class="btn btn-outline-secondary"><i class="fa fa-list" aria-hidden="true"></i> Voltar para a lista</a>
    </form>
</div>
